*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
	background-color:lightgray;
	
}

header{
	background-image: url(./image/main2.jpg);
	
	height:100%;
	background-size:cover;
	background-position:center;
}
headingdiv{
	width:100%;
	height:70px;
	background-color:Transparant<!--deepPink-->;
	margin-top:20px;
}
.headingdiv h1{
	text-align:Center;
	height:70px;
	line-height:70px;
	color:PINK;
	
}

.hobbies h2{
	text-align:justify;
	height:50px;
	line-height:60px;
	color:Coral;
}
	

h2{
	text-align:Center;
	color:blueviolet;
	height:50px;
	line-height:40px;
}

h3{
	text-align:Center;
	color:blueviolet;
	height:50px;
	line-height:40px;
}
	


.wrapper{
	clear:both;
	margin:auto;
	margin-top:50px;
	width:90%;
	height:500px;
	background-color:pink;<!--PINK-->
}
.leftdiv{
	width:65%;
	background-color:#0ff;
	height:25%;
	float:left;
}
.leftinside{
	margin-top:60px;
	margin-left:60px;
	background-color:none;
	height:350px;
	width:85%;
}

.leftinside h2{
	text-align:center;
	color:pink;
}

.aboutp{
	margin-top:10px;
	margin-left:10px;
	text-align:justify;
	height:300px;
	font-size:20px;
	font-family:Verdanda.Genva, sans-serif;
	color:white;
}
p{
	
	
	font-size:12px;
	font-family:Verdanda.Genva, sans-serif;
	color:blue;
}


.rightdiv{
	width:40%;
	float:right;
	height:350px;
	width:35%;
	background-color:#0ff;
}
.img {
	width:50%;
	height:50%;
	border:5px solid Blueviolet;
	padding:5px;
	
	
}
ul {
	float:right;
	list-style:none;
	margin-top:25px;
}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration:none;
	color:blue;
	padding:5px 20px;
	border:1px solid transparant BlueViolet;
	transition:0.6s ease;
}

ul li a:hover{
	background-color:LightPink;
	color:LightGray;
}

ul li.active a{
	background-color:LightGray;
	color:#ffa07a;	
}
.logo img{
	float:left;
	width:150px;
	height:auto;
}

.main{
	max-width:1200px;
	margin:auto;
}

.title{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.title h1{
	color:LightPink;
	font-size:70px;
	font-family":alergian;
}

.button{
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}
.btn{
	border:1px solid Blueviolet;
	padding:10px 30px;
	color:orange;
	text-decoration:none;
	transition:0.6s ease;
}	
.btn:hover{
	background-color:coral;
	color:lightpink;
}

.container{
	max-width:1200px;
	margin:auto;
	background:#f2f2f2;
	overflow:auto;
}
.gallery{
		margin:5px;
		border:1px solid Blueviolet;
		float:left;
		width:390px;
}
.gallery img{
	width:auto;
	height:auto;
}
.hobbies{
	margin:5px;
		border:1px solid Blueviolet;
		float:center;
		width:50%;
	
}
.hobbies{
	width:auto;
	height:auto;
	color:blue;
	
	
	
}
.desc{
	padding:15px;
	text-align:center;
}
.footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	color:pink;
	text-align:center;
	border-color:1px solid BlueViolet;
	
}
	
	
	
	
	
	



